@font-face {
    font-family: "romantic yayuan";
    src: url("romanticyayuan.eot"); /* IE9 */
    src: url("romanticyayuan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("romanticyayuan.woff") format("woff"), /* chrome, firefox */
    url("romanticyayuan.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("romanticyayuan.svg#romanticyayuan") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


